  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      text-decoration: none;
      font-family: "Poppins", sans-serif;
      user-select: none;
      outline: none !important;
      overflow: hidden;
      cursor: none !important;
  }

  :root {
      --primary: #ffff;
      --btn-disable: #fff;
      --seo-color: #fff;
      --primary_light: #ffffff4f;
      --textshadow_media: 0px 0px 0px var(--white), 3px 3px 5px #00000047;
      --white: #333;
      --hard_white: #fff;
      --red: #b90808;
      --section-bg: #333;
      --green: #2e7d32;
      --header-a: #e6e6e6;
      --product-background: linear-gradient(45deg, #1b5e20, #10bf19);
      --ads-background: linear-gradient(45deg, rgb(148 31 148), #c55e05);
      --event-background: linear-gradient(45deg, rgb(148 31 148), #2196f3);
      --job-background: linear-gradient(45deg, rgb(148 31 148), #3f51b5);
      --black-trasparent-color: rgba(0, 0, 0, 0.639);
      --grid-image: url(/?url=source&sourcelogin=grid.svg);
      --shield-image: url(/?url=source&sourcelogin=shield.svg);
      --stars-25: #b32020;
      --stars-40: #FFD700;
      --stars-60: #d56617;
      --stars-75: var(--green);
  }

  hh_anim_start {

      position: fixed;
      z-index: 3;
      width: 100%;
      height: 100%;
      top: 0px;
      left: 0px;
      background: white !important;
      margin: 0px !important;
      padding: 0px !important;
      display: flex;
      /* opacity: 0; */

  }

  hh_anim_start #logo {
      width: 150px;
      height: 150px;
      margin: auto;
      display: block;
      /* opacity: 0; */
      transform: scale(0);
      /* filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.2)) !important; */
      /* -webkit-filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.2)) !important; */
  }

  hh_anim_start #logo_backscr {
      position: fixed;
      transform: unset;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      z-index: -1;
  }



  hh_anim_start spjin {
      display: flex;
      position: fixed;
      left: 0px;
      top: 0px;
      width: 100%;
      height: 100%;
      text-align: center;

  }

  hh_anim_start spjin img,
  hh_anim_start spjin #logo_backscr_img {
      filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.4)) !important;
      -webkit-filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.4)) !important;
      enable-background: new 0 0 512 512 !important;
      border-radius: 440px;
      background: var(--primary_light);
      padding: 8px;
      width: 80px;
      height: 80px;
      border: 3px solid var(--black-trasparent-color);
      margin-bottom: 25px;
      transition: .3s;

  }

  .activeBell {
      border-color: var(--primary_light) !important;
      padding: 0px !important;
  }

  hh_anim_start #logo {
      transition: .3s;
  }

  hh_anim_start spjin {
      display: grid;
      margin: auto;

  }

  hh_anim_start spj {
      display: block;
      margin: auto;
      filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.1)) !important;
      -webkit-filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.1)) !important;
      enable-background: new 0 0 512 512 !important;
  }

  hh_anim_start #logo {
      width: 120px;
      height: 120px;
      transform: translateY(-20px);
  }

  hh_anim_start .Vjideo_sjpinner {

      display: block;
      margin: auto;
      position: unset;

  }

  .spjinActive .Vjideo_sjpinner {
      height: 0px;
      transform: scale(0) !important;
  }

  .spjinActive #logo {
      transform: unset !important;
  }

  hh_anim_start .Vjideo_sjpinner .path {
      filter: none !important;
      -webkit-filter: none !important;
  }


  hh_anim_start spjin p {
      position: fixed;
      display: grid;
      left: 0px;
      width: 100% !important;
      margin: auto;
      bottom: 30px;
      text-align: center;
      color: var(--black-trasparent-color) !important;
      position: fixed;
      left: 0px;
      width: 100%;
      z-index: 3333;
      opacity: 1;
      filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.1)) !important;
      enable-background: new 0 0 512 512 !important;
  }

  hh_anim_start .Vjideo_sjpinner .path {
      stroke: var(--black-trasparent-color) !important;
  }

  hh_anim_start .Vjideo_sjpinner {
      filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.1)) !important;
      enable-background: new 0 0 512 512 !important;
  }

  .box_shadow {
      filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.3)) !important;
      -webkit-filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.3)) !important;
      enable-background: new 0 0 512 512 !important;
  }

  .box_shadow_h {
      font-weight: 500;
      font-size: 13px;
  }

  #buttons {
      display: inline-flex;
      margin-top: 15px;
  }

  #buttons a {
      padding: 4px 10px;
      border: 2px solid var(--white);
      color: var(--white);
      border-radius: 4px;
      margin: 0px 10px;
      transition: .3s;
      font-size: 15px;
  }

  #buttons a:hover {
      background: vaR(--white);
      color: var(--primary);
  }

  #clavs {
      position: absolute;
      display: grid;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      z-index: 4;
      background: var(--white);
      transition: .3s;
      opacity: 0;


  }

  #clavs iframe {
      position: absolute;
      top: 50px;
      left: 0px;
      width: 100%;
      bottom: 0px;
      height: -webkit-fill-available;
      border: none;
      background: var(--primary);
      transition: filter .3s;
  }

  svg.Vjideo_sjpinner {
      position: absolute;
      top: 10px;
      color: var(--primary);
      left: 0px;
      z-index: 3;
      margin: 0px;
      width: 30px;
      height: 30px;
      top: 10px;
      left: 10px;
  }

  .Vjideo_sjpinner {
      -webkit-animation: vjideo_sjpinner_rotate 2s linear infinite;
      transition: .3s;
      animation: vjideo_sjpinner_rotate 2s linear infinite;
      z-index: 23333333;
      position: fixed;
      top: 35px;
      left: 35px;
      margin: -25px 0 0 -25px;
      width: 50px;
      height: 50px;
      pointer-events: none !important
  }

  .Vjideo_sjpinner .path {
      stroke: var(--primary);
      stroke-linecap: round;
      -webkit-animation: vjideo_sjpinner_dash 1.5s ease-in-out infinite;
      animation: vjideo_sjpinner_dash 1.5s ease-in-out infinite;
      -webkit-filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.2)) !important;
      enable-background: new 0 0 512 512 !important
  }

  @-webkit-keyframes vjideo_sjpinner_rotate {
      100% {
          transform: rotate(360deg)
      }
  }

  @keyframes vjideo_sjpinner_rotate {
      100% {
          transform: rotate(360deg)
      }
  }

  @-webkit-keyframes vjideo_sjpinner_dash {
      0% {
          stroke-dasharray: 1, 150;
          stroke-dashoffset: 0
      }

      50% {
          stroke-dasharray: 90, 150;
          stroke-dashoffset: -35
      }

      100% {
          stroke-dasharray: 90, 150;
          stroke-dashoffset: -124
      }
  }

  @keyframes vjideo_sjpinner_dash {
      0% {
          stroke-dasharray: 1, 150;
          stroke-dashoffset: 0
      }

      50% {
          stroke-dasharray: 90, 150;
          stroke-dashoffset: -35
      }

      100% {
          stroke-dasharray: 90, 150;
          stroke-dashoffset: -124
      }
  }

  div_header {

      position: absolute;
      left: 0px;
      top: 0px;
      width: 100%;
      height: 51px;
      background: var(--white);
      display: inline-flex;
      box-shadow: 0 0px 8px 0 rgb(0 0 0 / 20%), 0 6px 70px 0 rgb(0 0 0 / 10%);
      z-index: 33;
  }

  div_header span {

      position: absolute;
      left: 50px;
      top: 12px;
      color: var(--primary);

      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      right: 80px !important;

  }

  i#reaload_page {
      position: absolute;
      left: 13px;
      color: var(--primary);
      font-size: 24px;
      top: 8px;
  }

  .show {
      opacity: 1 !important;
      pointer-events: unset !important;
  }


  .hide {
      opacity: 0 !important;
      pointer-events: none !important;
  }

  btns_r {
      display: inline-flex;
      color: var(--primary);
      font-size: 24px;
      position: absolute;
      top: 7px;
      right: 13px;
  }

  btns_r i {
      padding: 0px 10px;
  }

  btns_r i:last-child {
      padding: 0px;
  }

  div#clavs #logo_backscr_img {
      border: 2px solid var(--primary);
      width: 36px;
      height: 36px;
      border-radius: 50px;
      padding: 4px;
      position: absolute;
      top: 7px;
      left: 7px;

  }

  div#clavs svg,
  div#clavs i,
  div#clavs span {
      filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.3)) !important;
      -webkit-filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.3)) !important;
      enable-background: new 0 0 512 512 !important;
      transition: .3s !important;
  }

  div_header #logo_backscr_img {
      opacity: 0;
      pointer-events: none !important;
  }

  .ld_completeld_complete #logo_backscr_img {
      opacity: 1;
  }

  .ld_completeld_complete #reaload_page {
      left: 50px;
  }

  .ld_completeld_complete span {
      left: 80px;
  }

  .href_a_span {
      display: none;
  }

  @media only screen and (max-width: 600px) {

      #buttons {
          display: grid;
          margin: 0px;
      }

      #buttons a {
          margin: 10px auto;
          display: inline-flex;
      }

      .href_a_span {
          display: block;
      }

      div_not div_panel {
          width: 90%;
      }
  }

  .href_a_span {
      margin-left: 5px;
  }

  #buttons a i {
      width: 25px;
  }

  .cursor {
      position: fixed;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: #f5f5f5;
      pointer-events: none;
      mix-blend-mode: difference;
      z-index: 1000000000;
      -webkit-transition: -webkit-transform 0.2s !important;
      transition: -webkit-transform 0.2s !important;
      -o-transition: transform 0.2s !important;
      transition: transform 0.2s !important;
      transition: transform 0.2s, -webkit-transform 0.2s !important;
      -webkit-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2), 0 1px 10px 0 rgba(0, 0, 0, 0.1);
      box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2), 0 1px 10px 0 rgba(0, 0, 0, 0.1)
  }

  .cursor_pc_show {
      display: block !important
  }

  .cursor i {
      color: white;
  }

  div_not {
position: absolute;
    top: 45px;
    left: 0px;
    width: 100%;
    display: flex;
    z-index: 5;
    transition: .3s;
    top: -150px;
  }

  div_not div_panel {
      width: 350px;
      background: var(--white);
      display: grid;
      margin: auto;
      text-align: center;
      color: var(--primary);
      box-shadow: 0 0px 8px 0 rgb(0 0 0 / 20%), 0 6px 70px 0 rgb(0 0 0 / 10%);
      padding: 10px 20px;
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 6px;
      padding-top: 15px;
  }btns {
    height: 45px;
    padding: 10px 0px;
    padding-bottom: 0px;
    margin-top: 10px;
    display: inline-flex;
    text-align: right;
    width: fit-content;
    text-align: right;
    margin-right: 0px;
    margin: 10px auto;
}

 btn1 {
     background: var(--primary);
     color: var(--white);
 }

btns btn1,
btns btn2 {
    border: 2px solid var(--primary);
    border-radius: 4px;
    padding: 3px 10px;
    display: block;
}

btns btn2 {
    margin-left: 10px;
}

box_h{
    position: absolute;
        top: 0px;
        z-index: 3;
        background: transparent;
        width: 100%;
        left: 0px;
        height: 100%;
        display: none;
}

.gridsH>* {
    width: calc(50% / 2) !important;
    width: -webkit-calc(50%/2)
}


@media (max-width:640px) {
    .gridsH>* {
        width: calc(50% / 1) !important;
        width: -webkit-calc(50%/1)
    }
}

@media (max-width:320px) {
    .gridsH>* {
        width: 100% !important
    }
}
 
.projets_f {
    height: 250px;
    padding: 4px !important;
    margin: 0px !important;
    box-shadow: none !important
}

