div#clavs br_ta {
    position: sticky;
    background: var(--black-trasparent-color);
    top: 51.1px;
    color:var(--hard_white);
    width: -webkit-fill-available;
    right: 0px;
    overflow: auto;
    z-index: 3;
    display: inline-block;
    padding:10px 5px;
    height: fit-content;
}

 

div#clavs br_ta ta_f {
    margin:0px 4px;
    padding:6px;
    border-radius:6px;
    color:var(--hard_white);
    background:var(--black-trasparent-color);
}

div#clavs br_ta ta_f.active,
div#clavs br_ta ta_f:hover {
        background:var(--hard_white) ;
    color:var(--black-trasparent-color);
}


 div#clavs  br_ta {
            overflow-x: scroll;
            display: -webkit-inline-box;
            display: -ms-inline-flexbox;
            display: inline-flex;
            overflow-x: auto !important;
            -ms-scroll-snap-type: x mandatory;
            scroll-snap-type: x mandatory;
            -webkit-overflow-scrolling: touch;
            -webkit-transition: margin-left 0.5s;
            -o-transition: margin-left 0.5s;
            scroll-behavior: smooth;
            transition: margin-left 0.5s;
    
            /* -webkit-mask-image: -webkit-linear-gradient(left, transparent, transparent 0%, white 10%, white 93%, transparent 100%); */
            /* mask-image: -webkit-linear-gradient(left, transparent, transparent 0%, white 10%, white 93%, transparent 100%); */
          
        }
 

  div#clavs br_ta::-webkit-scrollbar {
            width: 0px !important;
            height: 0px !important;
        }

     div#clavs      br_ta ta_f {
            scroll-snap-align: center;
            -ms-flex-negative: 0;
            flex-shrink: 0;
            width: -webkit-fit-content;
            width: -moz-fit-content;
            width: fit-content; 
            -webkit-transform-origin: center center;
            -ms-transform-origin: center center;
            transform-origin: center center;
            -webkit-transform: scale(1);
            -ms-transform: scale(1);
            transform: scale(1);
            transition: -webkit-transform 0.5s;
            -webkit-transition: -webkit-transform 0.5s;
            -o-transition: transform 0.5s;
            transition: transform 0.5s;
            transition: transform 0.5s, -webkit-transform 0.5s;
            position: relative;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
        
            align-items: center
        }
    

        .zoomer_exit {
            padding: 2px 7.4px !important;
        }
        .zoomer_exit.zoomer_exit-share{
            top: 65px !important;
        }

        /*
        
grider_viewer.gridsH.grids:hover project:not(:hover) {
    opacity:0.5 !important;
    filter:grayscale(1) !important;
} 
        */
ta_f[data-category="video"].active   {
    background: #b90808 !important;
    color: white !important;
    
}
ta_f[data-category="video"] i {
    margin-right:5px;
}

ta_f[data-category="video"].active span {
    border-color:white !important;
    background:transparent !important;
    color:white !important;
}