@import url("https://cdn.markonikolic98.com/echat/node_modules/@fortawesome/fontawesome-free/css/all.min.css");
@import url("https://cdn.markonikolic98.com/echat/node_modules/bootstrap-icons/font/bootstrap-icons.css");
@import url("https://cdn.markonikolic98.com/echat/node_modules/@fortawesome/fontawesome-free/css/all.min.css");
@import url("https://cdn.markonikolic98.com/echat/node_modules/bootstrap-icons/font/bootstrap-icons.css");

* {
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    border: 0px;
    -webkit-user-select: none;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;

}

@font-face {
    font-family: 'Behistun';
    src: url('/?url=ajax&url2=BLOG_N_INDEX/f&fstatic=blog/blog2/fonts/ancient/Behistun.woff2') format('woff2'),
        url('/?url=ajax&url2=BLOG_N_INDEX/f&fstatic=blog/blog2/fonts/ancient/Behistun.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
    --white: #fff;
    --grid: rgba(255, 255, 255, .1);
}

*:not(i) {

    font-family: monospace;
}

img {
    /* position: fixed; */
    position: fixed;
    height: -webkit-fill-available;
    width: 100%;
    top: 86px;
    left: 0px;
    -o-object-fit: contain;
    object-fit: contain;
    padding: 3px;
    display: block;
    margin: auto;
    -webkit-filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.2)) !important;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.2)) !important;
    enable-background: new 0 0 512 512 !important;
    opacity: 1;
    bottom: 56px;
    border-radius: 3053px !important;
}

dbf {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
}

.iframe {
    border-radius: 35035px !important;
    position: fixed;
    left: 0px;
    width: -webkit-fill-available;
    height: 49%;
    padding: 0px;
    margin: auto 10px;
    margin-bottom: 0px;
    top: 0px;
    -o-object-fit: contain !important;
    object-fit: contain !important;
    opacity: 1;
    /* -webkit-mask-image: linear-gradient(180deg, #00000057, rgb(0 0 0)); */
    /* mask-image: linear-gradient(180deg, #00000057, rgb(0 0 0)); */
    /* -webkit-mask-image: linear-gradient(134deg, #00000057, rgb(0 0 0)); */
    /* mask-image: linear-gradient(134deg, #00000057, rgb(0 0 0)); */
    z-index: -1;
    /* opacity: 0.3; */
    /* transform: scale(1.5) rotate(8deg); */
    /* transform: scale(1.2)  translateY(61px) translateX(-102px) rotate(42deg); */
    -o-object-position: center;
    object-position: center;
}

body {
    background: black;
}

ul {
    position: fixed;
    bottom: 5px;
    color: var(--white);
    display: -ms-grid;
    display: grid;
    left: 5px;
    font-size: 10px;
}

ul i {
    display: block;
    width: 18px;
}

ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 12px;
}

ul li:nth-child(2) i {
    font-size: 14px;
}


.datum {

    text-align: center;

    font-size: 30px;
    font-weight: normal;
    margin-bottom: -100px;
    margin-top: 60px;
    font-family: eronelit-q-logo;
    /* 'MuseoModerno', cursive; */
    position: fixed;
    right: 34px;
    /* bottom: 14px; */
    padding-top: 0px !important;
    float: right;
    text-align: right;
    opacity: 0.8;
}

.datum-1 {
    bottom: 57px !important;
}

.datum-2 {

    bottom: 15px !important;
}

p.hdatum {
    color: var(--white) !important;
    position: fixed;
    right: 5px;
    bottom: 2px;
    text-align: right;
    line-height: 23px;
}

h3 {
    color: var(--white);
    /* position: fixed; */
    z-index: 333;
    left: 0px;
    right: 0px;
    top: 60px;
    text-align: center;
    opacity: 0.9;
    font-size: 15px;
}

p.cntrxt {
    color: var(--white);
    text-align: center;
    padding: 20px;
    /* position: fixed; */
    bottom: 73px;
    top: 43px;
    /* height: -webkit-fill-available; */
    /* display: flex; */
    margin: auto !important;
    display: block;
    font-size: 13px;
    opacity: 0.8;
    padding-top: 25px;
    margin-top: 10vh !important;
    text-transform: uppercase;
}

span.h3 {
    opacity: 1 !important;
    color: white !important;

}

img.planet_image {
    width: 50px;
    mask-image: linear-gradient(45deg, #000000e0, transparent);
    -webkit-mask-image: linear-gradient(45deg, #000000e0, transparent);
    top: 0px;
    height: 50px;
    margin: 0px;
    right: 10px;
    left: unset;
    top: 50px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    opacity: 0.8;

}


#content_Space {
    background-color: transparent;
    background-image: -o-linear-gradient(bottom, transparent 9%, rgba(255, 255, 255, .2) 10%, rgba(255, 255, 255, .2) 12%, transparent 13%, transparent 29%, var(--grid) 30%, var(--grid) 31%, transparent 32%, transparent 49%, var(--grid) 50%, var(--grid) 51%, transparent 52%, transparent 69%, var(--grid) 70%, var(--grid) 71%, transparent 72%, transparent 89%, var(--grid) 90%, var(--grid) 91%, transparent 92%, transparent), -o-linear-gradient(left, transparent 9%, rgba(255, 255, 255, .2) 10%, rgba(255, 255, 255, .2) 12%, transparent 13%, transparent 29%, var(--grid) 30%, var(--grid) 31%, transparent 32%, transparent 49%, var(--grid) 50%, var(--grid) 51%, transparent 52%, transparent 69%, var(--grid) 70%, var(--grid) 71%, transparent 72%, transparent 89%, var(--grid) 90%, var(--grid) 91%, transparent 92%, transparent);
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(9%, transparent), color-stop(10%, rgba(255, 255, 255, .2)), color-stop(12%, rgba(255, 255, 255, .2)), color-stop(13%, transparent), color-stop(29%, transparent), color-stop(30%, var(--grid)), color-stop(31%, var(--grid)), color-stop(32%, transparent), color-stop(49%, transparent), color-stop(50%, var(--grid)), color-stop(51%, var(--grid)), color-stop(52%, transparent), color-stop(69%, transparent), color-stop(70%, var(--grid)), color-stop(71%, var(--grid)), color-stop(72%, transparent), color-stop(89%, transparent), color-stop(90%, var(--grid)), color-stop(91%, var(--grid)), color-stop(92%, transparent), to(transparent)), -webkit-gradient(linear, left top, right top, color-stop(9%, transparent), color-stop(10%, rgba(255, 255, 255, .2)), color-stop(12%, rgba(255, 255, 255, .2)), color-stop(13%, transparent), color-stop(29%, transparent), color-stop(30%, var(--grid)), color-stop(31%, var(--grid)), color-stop(32%, transparent), color-stop(49%, transparent), color-stop(50%, var(--grid)), color-stop(51%, var(--grid)), color-stop(52%, transparent), color-stop(69%, transparent), color-stop(70%, var(--grid)), color-stop(71%, var(--grid)), color-stop(72%, transparent), color-stop(89%, transparent), color-stop(90%, var(--grid)), color-stop(91%, var(--grid)), color-stop(92%, transparent), to(transparent));
    background-image: linear-gradient(0deg, transparent 9%, rgba(255, 255, 255, .2) 10%, rgba(255, 255, 255, .2) 12%, transparent 13%, transparent 29%, var(--grid) 30%, var(--grid) 31%, transparent 32%, transparent 49%, var(--grid) 50%, var(--grid) 51%, transparent 52%, transparent 69%, var(--grid) 70%, var(--grid) 71%, transparent 72%, transparent 89%, var(--grid) 90%, var(--grid) 91%, transparent 92%, transparent), linear-gradient(90deg, transparent 9%, rgba(255, 255, 255, .2) 10%, rgba(255, 255, 255, .2) 12%, transparent 13%, transparent 29%, var(--grid) 30%, var(--grid) 31%, transparent 32%, transparent 49%, var(--grid) 50%, var(--grid) 51%, transparent 52%, transparent 69%, var(--grid) 70%, var(--grid) 71%, transparent 72%, transparent 89%, var(--grid) 90%, var(--grid) 91%, transparent 92%, transparent);
    height: 100%;
    background-size: 50px 50px;
    opacity: 0.3;
    position: fixed;
    left: 0px;
    width: 100%;
    top: 0px;
    z-index: 343223423423;
}

.glt {
    font-family: Behistun !important;
}

solar_day {
    position: absolute;
    top: 57px;
    left: 10px;
    color: var(--white);
    z-index: 3;
    font-size: 12px !important;
}

p.hdatum,
ul,
solar_day,
p.cntrxt {
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.2));
    -webkit-filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.2)) !important;
    enable-background: new 0 0 512 512 !important;
}




spv {
    font-size: 30px;
    color: gold;
    padding: 5px;
}

p.hdatum,
ul,
solar_day,
p.cntrxt {
    -webkit-filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.6)) !important;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.6)) !important;
    enable-background: new 0 0 512 512 !important;
}

.circle-container * {
    -webkit-transition: .3s !important;
    -o-transition: .3s !important;
    transition: .3s !important;
}

.circle-container {
    position: unset;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #3a3a3a;
    left: 0px;
    top: 0px;
    margin: auto;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.2));
    -webkit-filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.2)) !important;
    enable-background: new 0 0 512 512 !important;
}

.inner-symbol {
    font-size: 48px;
    color: #d4af37;
}

.runes {
    position: absolute;
    width: 200px;
    height: 200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.2));
    -webkit-filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.2)) !important;
    enable-background: new 0 0 512 512 !important;
}

.rune {
    position: absolute;
    font-size: 20px;
    color: #ffffff;
    opacity: 0.6;
    -webkit-transition: color 0.3s, -webkit-transform 0.3s;
    transition: color 0.3s, -webkit-transform 0.3s;
    -o-transition: transform 0.3s, color 0.3s;
    transition: transform 0.3s, color 0.3s;
    transition: transform 0.3s, color 0.3s, -webkit-transform 0.3s;
}

.active2_YES {
    color: #d4af37;

    text-shadow: 0 0 8px #d4af37, 0 0 1px #d4af37;
}

.circle-container:hover .rune {
    color: #00ffcc;

    opacity: 1;
    text-shadow: 0 0 8px #00ffcc, 0 0 1px #00ffcc;
}

.rune.activeRed {
    color: red;
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
    opacity: 1;
    text-shadow: 0 0 8px red, 0 0 1px red;
}

.rune.active,
.rune:hover {
    color: #00ffcc;
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
    opacity: 1;
    text-shadow: 0 0 8px #00ffcc, 0 0 1px #00ffcc;
}

.runes span:nth-child(1) {
    -webkit-transform: rotate(0deg) translate(90px);
    -ms-transform: rotate(0deg) translate(90px);
    transform: rotate(0deg) translate(90px);
}

.runes span:nth-child(2) {
    -webkit-transform: rotate(15deg) translate(90px);
    -ms-transform: rotate(15deg) translate(90px);
    transform: rotate(15deg) translate(90px);
}

.runes span:nth-child(3) {
    -webkit-transform: rotate(30deg) translate(90px);
    -ms-transform: rotate(30deg) translate(90px);
    transform: rotate(30deg) translate(90px);
}

.runes span:nth-child(4) {
    -webkit-transform: rotate(45deg) translate(90px);
    -ms-transform: rotate(45deg) translate(90px);
    transform: rotate(45deg) translate(90px);
}

.runes span:nth-child(5) {
    -webkit-transform: rotate(60deg) translate(90px);
    -ms-transform: rotate(60deg) translate(90px);
    transform: rotate(60deg) translate(90px);
}

.runes span:nth-child(6) {
    -webkit-transform: rotate(75deg) translate(90px);
    -ms-transform: rotate(75deg) translate(90px);
    transform: rotate(75deg) translate(90px);
}

.runes span:nth-child(7) {
    -webkit-transform: rotate(90deg) translate(90px);
    -ms-transform: rotate(90deg) translate(90px);
    transform: rotate(90deg) translate(90px);
}

.runes span:nth-child(8) {
    -webkit-transform: rotate(105deg) translate(90px);
    -ms-transform: rotate(105deg) translate(90px);
    transform: rotate(105deg) translate(90px);
}

.runes span:nth-child(9) {
    -webkit-transform: rotate(120deg) translate(90px);
    -ms-transform: rotate(120deg) translate(90px);
    transform: rotate(120deg) translate(90px);
}

.runes span:nth-child(10) {
    -webkit-transform: rotate(135deg) translate(90px);
    -ms-transform: rotate(135deg) translate(90px);
    transform: rotate(135deg) translate(90px);
}

.runes span:nth-child(11) {
    -webkit-transform: rotate(150deg) translate(90px);
    -ms-transform: rotate(150deg) translate(90px);
    transform: rotate(150deg) translate(90px);
}

.runes span:nth-child(12) {
    -webkit-transform: rotate(165deg) translate(90px);
    -ms-transform: rotate(165deg) translate(90px);
    transform: rotate(165deg) translate(90px);
}

.runes span:nth-child(13) {
    -webkit-transform: rotate(180deg) translate(90px);
    -ms-transform: rotate(180deg) translate(90px);
    transform: rotate(180deg) translate(90px);
}

.runes span:nth-child(14) {
    -webkit-transform: rotate(195deg) translate(90px);
    -ms-transform: rotate(195deg) translate(90px);
    transform: rotate(195deg) translate(90px);
}

.runes span:nth-child(15) {
    -webkit-transform: rotate(210deg) translate(90px);
    -ms-transform: rotate(210deg) translate(90px);
    transform: rotate(210deg) translate(90px);
}

.runes span:nth-child(16) {
    -webkit-transform: rotate(225deg) translate(90px);
    -ms-transform: rotate(225deg) translate(90px);
    transform: rotate(225deg) translate(90px);
}

.runes span:nth-child(17) {
    -webkit-transform: rotate(240deg) translate(90px);
    -ms-transform: rotate(240deg) translate(90px);
    transform: rotate(240deg) translate(90px);
}

.runes span:nth-child(18) {
    -webkit-transform: rotate(255deg) translate(90px);
    -ms-transform: rotate(255deg) translate(90px);
    transform: rotate(255deg) translate(90px);
}

.runes span:nth-child(19) {
    -webkit-transform: rotate(270deg) translate(90px);
    -ms-transform: rotate(270deg) translate(90px);
    transform: rotate(270deg) translate(90px);
}

.runes span:nth-child(20) {
    -webkit-transform: rotate(285deg) translate(90px);
    -ms-transform: rotate(285deg) translate(90px);
    transform: rotate(285deg) translate(90px);
}

.runes span:nth-child(21) {
    -webkit-transform: rotate(300deg) translate(90px);
    -ms-transform: rotate(300deg) translate(90px);
    transform: rotate(300deg) translate(90px);
}

.runes span:nth-child(22) {
    -webkit-transform: rotate(315deg) translate(90px);
    -ms-transform: rotate(315deg) translate(90px);
    transform: rotate(315deg) translate(90px);
}

.runes span:nth-child(23) {
    -webkit-transform: rotate(330deg) translate(90px);
    -ms-transform: rotate(330deg) translate(90px);
    transform: rotate(330deg) translate(90px);
}

.runes span:nth-child(24) {
    -webkit-transform: rotate(345deg) translate(90px);
    -ms-transform: rotate(345deg) translate(90px);
    transform: rotate(345deg) translate(90px);
}

dv {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    opacity: 0.3;
}


btls {
    position: absolute;
    left: 0px;
    top: 0px;
    background: white;
    width: 100%;
    height: 100%;
    opacity: 0.1;
    -webkit-filter: blur(41px);
    filter: blur(41px);
    z-index: -1;
}

dv.dv_2_t .circle-container {
    z-index: -1;
}

dv.dv_2_t {
    z-index: -1;
    -webkit-transform: scale(1.9);
    -ms-transform: scale(1.9);
    transform: scale(1.9);
    /* background-color: #3a3a3a; */
}

dv.dv_2_t .circle-container {
    background-color: transparent;

}

dv.dv_2_t .circle-container .rune {
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.4)) !important;
    -webkit-filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.4)) !important;
    enable-background: new 0 0 512 512 !important;
}

@-webkit-keyframes rotating

/* Safari and Chrome */
    {

    from {

        -webkit-transform: rotate(0deg);

        transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes rotating {
    from {
        -ms-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -ms-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes rotateInfinite {
    0% {
        -webkit-transform: scale(1.9) rotate3d(1, 1, 0, 0deg);
        transform: scale(1.9) rotate3d(1, 1, 0, 0deg);
    }

    100% {
        -webkit-transform: scale(1.9) rotate3d(1, 1, 0, 360deg);
        transform: scale(1.9) rotate3d(1, 1, 0, 360deg);
    }
}

@keyframes rotateInfinite {
    0% {
        -webkit-transform: scale(1.9) rotate3d(1, 1, 0, 0deg);
        transform: scale(1.9) rotate3d(1, 1, 0, 0deg);
    }

    100% {
        -webkit-transform: scale(1.9) rotate3d(1, 1, 0, 360deg);
        transform: scale(1.9) rotate3d(1, 1, 0, 360deg);
    }
}

.rotating {

    -webkit-animation: rotating 15s linear infinite;

    animation: rotating 15s linear infinite;
}

video {
    position: fixed;
    left: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    z-index: -2;
    opacity: 0.2;
    -o-object-fit: cover !important;
    object-fit: cover !important;
    -webkit-transform: scale(1.8);
    -ms-transform: scale(1.8);
    transform: scale(1.8);
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
}

p.cntrxt,
iframe.iframe_icon_mask {
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

p.cntrxt.active,
video.active {
    opacity: 0;
}

iframe.iframe_icon_mask {
    opacity: 0;
}

iframe.iframe_icon_mask.active {
    opacity: 1 !important;
}



dv.dv_2_t[data-rot] * {
    background: transparent;
}

@-webkit-keyframes rotateInfinitef {
    0% {
        -webkit-transform: scale(1.9) rotate(0deg) rotate3d(1, 1, 0, 0deg);
        transform: scale(1.9) rotate(0deg) rotate3d(1, 1, 0, 0deg);
    }

    100% {
        -webkit-transform: scale(1.9) rotate(360deg) rotate3d(1, 1, 0, 360deg);
        transform: scale(1.9) rotate(360deg) rotate3d(1, 1, 0, 360deg);
    }
}

@keyframes rotateInfinitef {
    0% {
        -webkit-transform: scale(1.9) rotate(0deg) rotate3d(1, 1, 0, 0deg);
        transform: scale(1.9) rotate(0deg) rotate3d(1, 1, 0, 0deg);
    }

    100% {
        -webkit-transform: scale(1.9) rotate(360deg) rotate3d(1, 1, 0, 360deg);
        transform: scale(1.9) rotate(360deg) rotate3d(1, 1, 0, 360deg);
    }
}

dv.dv_2_t[data-rot] {
    opacity: 0;
}

body.sphere_active dv.dv_2_t[data-rot] {
    opacity: 1 !important;
}

div_ifrm {
    position: fixed;
    z-index: -1;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

video {
    position: unset;
    width: 250px;
    height: 250px;
    position: absolute;
    border-radius: 35353px;
    -webkit-filter: none;
    filter: none;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    opacity: 1;
    margin: auto;
}

/*img.iframe.aroma3:not(.aroma_f) {
mask-image: url(https://d33wubrfki0l68.cloudfront.net/d319533ac3d22c3186498254e0caee871796a29e/d7ce9/images/css/masking/image-mask.png) !important;
-webkit-mask-size: 400px 600px !important;
mask-size: 400px 600px !important;
opacity: 1 !important;
}
*/
span_f {
    font-size: 13px;
}

body {
    font-family: Arial, sans-serif;
    display: grid;
    justify-content: center;
    align-items: center;
}

.grid_card_mode,
.grid_card_mode * {
    transition: transform 0.6s;

}

.grid {
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    /* Adjust '3' to your desired number of rows (a) */
    grid-template-columns: repeat(4, 1fr);
    /* Adjust '4' to your desired number of columns (b) */
    gap: 10px;
}

.card {
    width: 120px;
    height: 160px;
    perspective: 1000px;
}

.card-inner {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transform: rotateY(0deg);
    transition: transform 0.6s;
}

.card:hover .card-inner {
    transform: rotateY(180deg);
}

.card-front,
.card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-front {
    background-color: #4caf50;
    color: white;
}

.card-back {
    background-color: #2196f3;
    color: white;
    transform: rotateY(180deg);
}